body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4.375rem;
  font-weight: lighter;
  line-height: 2;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-size: x-large;
  padding-bottom: 10px;

}


h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

a {
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;

}

.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.intro{
  width: 30%;
  margin:auto;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.comp-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img{
  width: 25%;
  float: right;
margin-left: 30px;
}

.hr-one{
  Border-style: none;
Border-top-style: dotted;
  height: 0;
  border-width: 5px;
  border-color: #EAF6F6;
  width: 5%;
  margin: 100px auto;

}

.contact-message{
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.BUTTON_RFD {
   background: #11CBD4;
   background-image: -webkit-linear-gradient(top, #11CBD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CBD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CBD4, #11999E);
   background-image: -o-linear-gradient(top, #11CBD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CBD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_RFD:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
